<head>

  <title>J_Guide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel ="stylesheet" href="/assets/basic_parts.scss">
  <link rel ="stylesheet" href="/assets/header_footer.scss">
  <link rel ="stylesheet" href="/assets/wrapper.scss">
  <link rel ="stylesheet" href="/assets/rooms.scss">
  <link rel ="stylesheet" href="/assets/text.scss">
  <link rel ="stylesheet" href="/assets/outline_info.scss">
  <link rel ="stylesheet" href="/assets/btn_ill_parts.scss">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Monoton|Mountains+of+Christmas|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-center-circle.min.css"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
  <%= javascript_include_tag "/assets/application.js" %>

</head>
<body>
<div class ="wrap">
  <header>
    <ul class="logo">
      <a href="/">
        <span>J</span>_Guide
      </a>
    </ul>
    <ul class="login">
      <%= link_to 'LOGIN', new_user_session_path %>
    </ul>
  </header>

  <section class ="top-wrapper">
   <ul class ="bxslider">
     <li><img src ="/assets/topimage.jpg" width="100%" height="500px"/></li>
     <li><img src ="/assets/green.jpg" width="100%" height="500px"/></li>
     <li><img src ="/assets/river.jpg" width="100%" height="500px"/></li>
   </ul>
   <div class ="topfunc">
     <h1 class ="lead">MAKE A FRIENDS & EN<span>J</span>OY <span>J</span>APANESE LOCAL</h1>
     <h2 class ="lead4guide">Resgistraition is very easy & takes only a minute.<h2>
   </div>
  </section>

  <%= form_with(model: @ginfo, url: ginfos_path, local: true )do |f| %>
  <section id= "regi-form" class='panel-group'>

    <div class= "panel is-show">
      <h3 style ="font-family: 'Poiret One', cursive;"><u><i class="fas fa-cog fa-fw"></i> BASIC INFO</u></h3>

      <%= f.hidden_field :user_id, :value => current_user.id %>


      <div class ="myinfo-label">Please enter your Phone Number</div>
      <%= f.text_field :tel_number, :class => "myinfo_basic", :placeholder => 'Tel Number', :maxlength =>"15" %>

      <div class ="myinfo-label">Please enter your Age</div>
      <%= f.text_field :age, :class => "myinfo_basic_age", :placeholder => "Age", :maxlength =>"3" %>

      <div class ="myinfo-label">Please choice your Sex</div>
      <%= f.radio_button :sex, "男" , :class=> "radio_btn", :id => "rlabel1" %>
      <%= f.label ' Men', :for => "rlabel1" %>
      <%= f.radio_button :sex, "女", :class=> "radio_btn", :id => "rlabel2" %>
      <%= f.label ' Women', :for => "rlabel2" %>
      <%= f.radio_button :sex, "その他", :class=> "radio_btn", :id => "rlabel3" %>
      <%= f.label ' Others', :for => "rlabel3" %>

      <div class ="myinfo-label"><h4>Please upload your face picture.</h4></div>

         <div id="face_img_field" onClick="$('#file').click()" >
           <i class="fas fa-smile"></i>
         </div>

         <%= f.file_field :face_picture, class: "face_preview", style: "display:none;", id: "file"%>

         <div class ="regi-group">
           <li class ="regi is-active"><%= f.submit 'REGIST as a GEST', :id => 'regi-btn-guest' %></li>
           <li class ="regi" id= "regi-btn-guide">REGIST as a GUIDE</li>
         </div>



    </div>

    <div class ="panel">
          <li class ="regi is-active" id ="back">Back</li>

       <h3 style ="font-family: 'Poiret One', cursive;"><u><i class="fas fa-hat-wizard fa-fw"></i> GUIDE INFO</u></h3>

       <div class = "myinfo-label">Please tell where you can guide(max 80 words)</div>
       <%= f.text_field :hitokoto_shoukai, :class =>"myinfo", :placeholder =>'it will be shown in search page of guest.', :maxlength =>"80"%>

       <div class ="myinfo-label">Introduction(max 700 words)</div>
       <%= f.text_field :shoukaibun, :class =>'myinfo-big', :placeholder =>'Please fill in detailed location, recommended store, notes etc.', :maxlength =>"700" %>

       <div class ="myinfo-label">Please upload photos of the spots you know well.</div>
       <div class ="myscene-wrapper">
         <div id="img_field" onClick="$('#files').click()" >
           <i class="fas fa-image"></i>
         </div>
         <%= f.fields_for :scene do |i| %>
         <%= i.file_field :scene_picture1, class: "image", style: "display:none;", id: "files", :multiple => true %>
         <% end %>
       </div>


       <div><%= f.submit 'Regist', :class => "regi-btn" %></div>

    </div>

  </section>
  <% end %>

  <footer>
    <ul class="logo">
      <a href="/">
        <span>J</span>_Guide</a>
    </ul>
    <img src="/assets/town.png" class="town-ill"></img>
    <wrapper class="footer-wrapper">
      <ul class="footer-list"><%= link_to 'HELP', outline_infos_help_path %></ul>
      <ul class="footer-list"><%= link_to 'CONTACT', outline_infos_contact_path %></ul>
      <ul class="footer-list"><%= link_to 'COMPANY', outline_infos_company_path, data: {"turbolinks" => false} %></ul>
      <ul class="footer-list"><%= link_to 'OUR PHILOSOPHY', outline_infos_our_philosophy_path %></ul>
      <ul class="footer-list"><%= link_to 'TERMS OF USE', outline_infos_terms_path, data: {"turbolinks" => false} %></ul>
      <ul class="footer-list"><%= link_to 'SPECIAL COMMERCIAL CODE', outline_infos_code_path, data: {"turbolinks" => false} %></ul>
      <ul class="footer-list"><%= link_to 'PRIVACY POLICY', outline_infos_policy_path, data: {"turbolinks" => false} %></ul>
    </wrapper>
  </footer>
</div>
</body>
