<section class = "login-form">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br><br>
  <div class ="myinfo-label"><%= f.label :email %></div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'myinfo', :placeholder => 'E-mail' %>

  <div class ="myinfo-label"><%= f.label :password %></div>
    <%= f.password_field :password, autocomplete: "current-password", :class => 'myinfo', :placeholder => 'Password' %>

    <% if devise_mapping.rememberable? %>
      <div class = "myinfo-label"><%= f.check_box :remember_me %><%= f.label :remember %></div>
    <% end %>

    <%= f.submit "LOGIN", :class => 'login-btn' %>
    <div class = "myinfo-label"><u>>><%= render "devise/shared/links" %></u></div>
<% end %>

</section>
