<<<<<<< HEAD


 <div id="content">


<% @en.each do |en| %>
   <a href="/rooms/<%= en.room_id %>"><%= en.user.username unless en.user==current_user %></a><br>
 <% end %>

     <h1>dgcsdjk</h1>
 </div>
=======
<<<<<<< HEAD
<% if @messages.present? %>
  <% @entries.each do |e| %>
    <h4 class ="chat_name"><a href="/users/<%= e.user.id %>"><%= e.user.username%>さん</a></h4>
  <% end %>
<% end %>
=======
 <% @rooms.each do |room| %>
      <%= room.id %>
 <% end %>
>>>>>>> 7ef014d4629aa92d15967deb9aaf5ef70403cf09
>>>>>>> cf8d3a2af2c07e9630cef945dafda652efd09ba5
